#title{
    display: block;
    height: 20px;
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 10px;
}
#markdownText{
    display: block;
    margin: auto;
    width: 80%;
    height: 400px;
    margin-top: 20px;
    font-size: 22px;
}
#submit{
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 20px;
    height: 40px;
}
#markdownHTML{
    margin: auto;
    width: 80%;
    margin-top: 20px;
    border-width: thin;
    border-style: solid;
    border-color: #888888;
    font-size: 18px;
}